* {
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.item {
    background-color: mistyrose;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.item h3 {
    margin: 10px 0px 5px;
}
.item p {
    font-size: 14px;
    color: ;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
.container1 > div {
    background-color: black;
    color: antiquewhite;
    margin: 10px 5px 10px 5px;
    padding: 20px;
    font-size: 30px
}
.container2 > div {
    background-color: black;
    color: antiquewhite;
    margin: 10px 5px 10px 5px;
    padding: 20px;
    font-size: 30px
}
.container-centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: blanchedalmond;
}
.container-centralizado > div{
    background-color: black;
    width: 150px;
    height: 150px;
}